.footer-flex{
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;  
    /* border: 1px solid black; */
    align-items: center;
    margin-bottom: 2%;
    margin-top: -5%;
    
}

.footer-links{
    /* border: 1px solid black; */
    width: 60%;
    color: gray;
    flex-direction: row;
    text-align: end;
    white-space: nowrap;
    width:auto;
    margin-right: 7.5%;
}

.footer-links a {
    margin-left: 10%;
}

.footer-links :hover{
    color: rgb(59, 59, 59);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .footer-flex{
        width: 75%;
        
    }
}

@media (max-width: 800px) {
    .footer-flex{
        width: 100%;
        font-size: 11px;
    }
}

@media (max-width: 375px) {
    .footer-flex{
        width: 100%;
        font-size: 11px;
        flex-direction: column;
    }
}